@import url('https://fonts.googleapis.com/css?family=Lato:100&effect=neon');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');

.App {
    background-image: url('../public/codioful-formerly-gradienta-G084bO4wGDA-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-color: rgb(28, 28, 29);
    font-family: 'Roboto Mono', monospace;
}

.App:nth-of-type(even) {
    transform: scaleY(-1);
  }

.container {
    padding: 5rem;
    color:black;
}

.container h1{
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    font-size: 96px;
    color:rgb(239, 189, 255);
    text-align: center;
    padding-bottom: 5rem;
}

.card {
    transition: transform 0.2s ease;
  }

.card:hover {
    transform: scale(1.1);
}

.modal {
    font-family: 'Roboto Mono', monospace;
}

.purchase {
    transition: transform 0.2s ease;
}

.purchase:hover {
    transform: scale(1.1);
}